#profile{
    
    & #profile-data{

        & .avatar-wrapper{
            position: relative;
            border-radius: 50%;
            overflow: hidden;
    
            @media(max-width: $large){
                width: 50%;
                margin: auto;
                margin-bottom: 40px;
            }
            
            & input[type="file"]{
                display: none;
                
                & .avatar{
                    display: block;
                    padding-top: 100%;
                }
    
                & ~ label{
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 32px;
                    color: #fff;
                    background: rgba(black, .7);
                    opacity: 0;
                    transition: opacity .2s;
                }
            }
    
            &:hover{
    
                & input ~ label{
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        & .kv-wrapper{

            display: table;
            width: 100%;

            & .kv-pair{

                & .key{
                    width: 160px;
                }
        
                & .key, & .value{
                    line-height: 30px;
                    padding-right: 20px;
        
                    & input{
                        width: 100%;
                    }
                }
            }
        }

    }


    & textarea{
        width: 100%;
        height: calc(100% - 20px);

        @media(max-width: $medium){
            height: 100px;
            margin: 30px 0;
        }
    }

    & .profile-gallery-wrapper{

        display: table;
        width: 100%;
        margin-top: 40px;

        & .profile-gallery-entry{

            display: table-row;
            transition: background-color .2s;

            & .thumbnail{
                width: 100px;
            }

            &:nth-child(odd){
                background: darken($paper, 3);
            }

            &.selected{
                box-shadow: 0 0 0 1px $gold inset;
                background: #fff;
            }

            &:hover{
                background: #fff;
            }

            & .lazy{
                padding-top: 75px;
                width: 100px;
                background-size: cover;
            }

            & > *{
                display: table-cell;
                vertical-align: middle;
                padding: 10px;

                &.drag-handler{
                    width: 30px;
                    font-size: 28px;
                    color: $fogged;
                }
            }
        }

        @media(max-width: 1000px){

            & .date, & .size, & .price{
                display: none;
            }
        }
    }

    & .editor{

        @media(max-width: $large){
            display: none;
        }

        & .editor-image{
            margin-top: 40px;
            padding-top: 65%;
            background-size: cover;
            background-position: center;
            margin-bottom: 20px;
            position: relative;
    
            & .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                background: rgba(black, .4);
                opacity: 0;
                transition: opacity .2s;
    
                & .actions{
    
                    width: 100%;
                    text-align: center;
    
                    & a{
                        display: inline-block;
                        color: #fff;
                        font-size: 26px;
                        line-height: 40px;
                        padding: 0 10px;
                        background: rgba(black, .4);
                        border-radius: 4px;
                        transition: background-color .2s;
    
                        &:hover{
                            background: rgba(black, .7);
                        }
                    }
                }
            }
    
            &:hover{
    
                & .overlay{
                    opacity: 1;
                }
            }
        }
    
        & .section-header{
            font-family: 'Lora';
            font-weight: 700;
            font-size: 26px;
            margin: 16px 0;
        }
    
        & .entry-actions{
            margin: 20px 0;
        }
    }

    & .chips{

        flex-wrap: wrap;

        & .chip{

            
            & .material-icons{
                
                font-size: 0;

                &:before{
                    font-size: 18px;
                    content: '\F0156' !important;
                    font-family: 'Material Design Icons';
                    font-style: normal;
                }
            }
        }
    }

    & #gallery-editor{
        padding: .75rem 1.5rem;
        padding-bottom: 80px;

        & .image-editor{
            padding-top: 65%;
            background-size: cover;
            position: relative;
            margin-bottom: 30px;
            margin-top: 10px;

            & .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(black, .7);
                display: flex;
                flex-direction: column;
                justify-content: center;

                & .actions{

                    text-align: center;

                    & a{
                        display: inline-block;
                        color: #fff;
                        font-size: 21px;
                        line-height: 40px;
                        width: 40px;
                        border-radius: 4px;
                        background-color: rgba(black, .7);
                    }
                }
            }
        }

        & .editor-actions{

            text-align: center;

            & a{
                display: inline-block;
                padding: 0 20px;
                margin: 0;
                font-size: 21px;

                & i{
                    margin:0
                }
            }
        }
    }

    & #communications{
        
        & .communications-header{
            font-size: 21px;
            display: flex;
            align-items: center;
            height: 50px;

            & .header{
                flex-grow: 1;
                font-family: 'Lora';
                font-size: 21px;
                font-weight: 700;
            }

            & .actions{
                
                & a{
                    line-height: 50px;
                    width: 50px;
                    display: inline-block;
                    text-align: center;
                }

                & .sidenav-trigger{
                    display: none;

                    @media(max-width: $large){
                        display: initial;
                    }
                }
            }
        }

        & .messages-wrapper{
            padding: 20px;
            background-color: #efefef;
            height: 70vh;
            overflow: auto;

            & .message{
                width: calc(80%);
                margin: 20px 0;
                
                & .message-body{
                    background-color: #fff;
                    padding: 6px 20px;
                    border-radius: 30px;
                }
                
                &.foreign{
                    
                    & .message-body{
                        background-color: #acacac;
                        border-bottom-left-radius: 0;
                    }
                }

                & .message-footer{
                    display: flex;
                    font-size: 12px;
                    color: $fogged;

                    & .message-author{
                        flex-grow: 1;
                        color: $text;
                        font-weight: 700;
                    }
                }

                &:not(.foreign){
                    margin-left: auto;

                    & .message-body{
                        border-bottom-right-radius: 0;
                    }

                    & .message-footer{
                        flex-direction: row-reverse;

                        & .message-author{
                            flex-grow: 0;
                        }

                        & .message-date{
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        & .contacts{

            height: calc(80vh - 90px);
            overflow: auto;

            & .messages-authors-header{

                display: flex;
                height: 51px;
                align-items: center;
                position: sticky;
                position: -webkit-sticky;
                z-index: 10;
                top: 0;
                background: $paper;

                & .header{
                    flex-grow: 1;
                    font-family: 'Lora';
                    font-size: 21px;
                    font-weight: 700;
                }
            }


            @media(max-width: $large){
                display: none;
            }
        }

        & .contacts-footer{
            padding-top: 16px;
            text-align: center;
        }

        & .message-author{
            display: flex;
            align-items: center;
            transition: background-color .2s, box-shadow .2s;
            padding: 6px;
            cursor: pointer;

            &:nth-child(odd){
                background-color: #efefef;
            }

            & .avatar-wrapper{
                width: 80px;
            }

            & .name-wrapper{
                padding: 0 20px;
                line-height: 18px;
                flex-grow: 1;
            }

            & .actions{

                white-space: nowrap;

                & a{
                    font-size: 18px;
                    display: inline-block;
                    line-height: 30px;
                    width: 30px;
                    text-align: center;
                    border-radius: 4px;

                    &:hover{
                        background: rgba(black, .1);
                    }

                    &.remove-action{
                        opacity: 0;
                        font-size: 21px;
                    }
                }
            }

            &:hover, &.active{
                background-color: #fff;
                box-shadow: 0 0 0 1px $gold inset;

                & .actions{
                    
                    & .remove-action{
                        opacity: 1;
                    }
                }
            }
        }
    }
}