footer{

    margin-top: 50px;
    background: #787878;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    
    & .container{

        display: flex;

        & .logo-wrapper{
            
            width: 40%;
            max-width: 400px;
            background-color: #D2D2D2;
    
            & .logo{
                display: block;
                padding-top: 100%;
                background: url("/img/footer-logo.svg") center center no-repeat;
                background-size: 30% auto;
            }

            @media(max-width: $small){
                display: none;
            }
        }
    
        & .footer-main{
    
            padding: 2vw 6vw;
            flex-grow: 1;

            & ul{

                & li{
    
                    & a{
                        display: block;
                        padding: 4px 0;

                        &:hover{
                            text-decoration: underline;
                            text-decoration-style: dashed;
                            text-decoration-thickness: 1px;
                            text-underline-offset: 2px;

                        }
                    }
                }
            }
            
            & .row{
                margin: 0;

                & h3{
                    font-size: 36px;
                    font-weight: 500;
                }

                & a{
                    color: black;
                }
            }

            & .form-header{
                font-family: 'Lora';
                font-size: 21px;
                font-weight: 700;
            }

            @media(max-width: 700px){
                padding: 0;
            }
        }

        & .buttons-wrapper{
            // border: 1px solid red;
            text-align: right;
            margin: 20px 0;
            display: block;
            // height: 40px;
        }

        & .footer-success{

            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px 0;

            & i{
                font-size:48px;
                display: inline-block;
                position: relative;
                line-height: 48px;

                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% + 1px));
                    width: 39px;
                    height: 39px;
                    border-radius: 50%;
                    background: #fff;
                    z-index: -1;
                }
            }

            & p{
                color: #fff;
                margin: 6px 0;
            }
        }

        & .footer-menu{

            column-count: 3;
            column-gap: 1.5rem;

            & a{
                white-space: nowrap;
            }

            @media(max-width: $large){
                column-count: 2;
            }

            @media(max-width: $medium){
                column-count: 1;
            }
        }

        & .footer-main{

            display: flex;
            align-items: center;
        }
    }
}