.input-field{
    position: relative;
    padding-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;

    & textarea,
    & input{
        border: 0;
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        background: transparent;

        &.styled{

            &:focus{
                outline: none;
            }
    
            &::placeholder{
                color: transparent;
            }
    
            & ~ label{
                position: absolute;
                z-index: 2;
                pointer-events: none;
                top: 18px;
                left: 0px;
                font-size: 16px;
                transition: font-size .2s, top .2s;
            }
    
            &:not(:placeholder-shown), &:focus{
    
                &::placeholder{
                    color: rgba(black, .2);
                }
    
                & ~ label{
                    top: 0;
                    font-size: 12px;
                }
            }

            &.autocomplete + ul{
                
                & li{
                    & span{
                        color: $text;

                        & .highlight{
                            color: $gold;
                        }
                    }
                }
            }
        }

    }

    & .error{
        font-size: 12px;
        position: absolute;
        top: 100%;
        color: saturate($gold, 20);
        pointer-events: none;
        // color: transparent;
    }
}

.input-field-check{

    display: inline-block;

    & input[type=checkbox].styled{
        display: none;

        & ~ label{

            user-select: none;
            cursor: pointer;
            padding-right: 20px;
            margin: 10px 0;
            display: inline-block;
            
            &:before{

                content: "\F012C";
                display: inline-block;
                width: 14px;
                height: 14px;
                font-family: 'Material Design Icons';
                margin-right: 6px;
                box-shadow: 0 0 0 1px black;
                transition: color .2s, background-color .2s;
                background: #fff;
                color: transparent;
                line-height: 14px;
            }
        }

        &:checked ~ label:before{
            color: $gold;
            background: black;
        }
    }

    & input[type=radio].styled{
        display: none;

        & ~ label{

            user-select: none;
            cursor: pointer;
            display: inline-block;
            padding-right: 20px;
            margin: 10px 0;
            
            &:before{
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin-right: 6px;
                box-shadow: 0 0 0 1px black;
                transition: box-shadow .4s;
                background: #fff;
                color: transparent;
                transform: translateY(2px);
            }
        }

        &:checked ~ label:before{
            box-shadow: 0 0 0 1px black, 0 0 0 3px white inset, 0 0 0 10px black inset;
        }
    }
}

input,
textarea{

    &.hidden-input{
        background: transparent;
        border: 1px solid transparent;
        line-height: 20px;
        cursor: text;
        pointer-events: none;
        resize: none;

        &:focus{
            outline: none;
        }

        &.obvious{
            background: #fff;
            border: 1px solid #ccc;
            pointer-events: all;
            resize: vertical;
        }
    }
}

.datepicker-container{

    & .datepicker-date-display{
        background: $text;
    }

    & .select-wrapper{
    
        & input.select-dropdown{
    
            border-bottom: 0;
            
            &:focus{
                
                border-bottom: 0;
            }
        }        
    }

    & .datepicker-table-wrapper{

        & table.datepicker-table{

            & tr.datepicker-row{
    
                & td.is-today{
        
                    & button{
                        color: $gold;
                    }
                }

                & td.is-selected{

                    & button{
                        background-color: $gold;
                    }
                }
            }
        }
    }

    & .datepicker-footer{

        & button{
            @extend .btn;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }
}

.sidenav .input-field{
    line-height: 1.5rem;
}

input[type="range"]{

    -webkit-appearance: none;
    background: transparent;
    width: 100%;

    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        border: 1px solid black;
        background: $gold;
        width: 20px;
        height: 20px;
        transform: translateY(-25%);
        transition: transform .2s;
        border-radius: 2px;

        &:hover{
            transform: translateY(-25%) scale(1.6);
        }
    }

    &::-webkit-slider-runnable-track{
        background: rgba(black, .4);
        height: 10px;
    }
}