$mobile-edge: 700px;

header{

    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    background: $paper;
    width: fit-content;

    @media(max-width: $mobile-edge){
        background: black;
        height: 54px;
        width: 100%;
        display: flex;
        position: sticky;
        position: -webkit-sticky;
        top: 0;

        & .sidenav-trigger{
            position: fixed;
            right: 0;
            top: 0;
            width: 54px;
            line-height: 54px;
            text-align: center;
            font-size: 24px;
            color: #fff;
        }
    }

    @media(min-width: $mobile-edge){

        & .sidenav-trigger{
            display: none;
        }
    }
    
    & nav{

        display: flex;
        align-items: center;

        &:before{
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 61px;
            height: 100vh;
            background: black;

            @media(max-width: $mobile-edge){
                display: none;
            }
        }
    
        &:after{
            content: '';
            display: block;
            width: 1px;
            height: calc(100vh - 380px);
            background: rgba($paper, .4);
            position: fixed;
            z-index: 2;
            top: 380px;
            left: 30px;

            @media(max-width: $mobile-edge){
                display: none;
            }
        }
    
        & .logo{
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 61px;
            height: 61px;
            background: url(/img/logo-header.svg) center center no-repeat;

            @media(max-width: $mobile-edge){
                width: 54px;
                height: 54px;
            }
        }
    
        & a{
            &:hover{
                background-color: rgba(white, .2);
            }
        }
    
        & .nav-menu{
    
            display: flex;

            @media(max-width: $mobile-edge){
                display: none;
            }
    
            & .events{
                display: none;
            }
    
            & > li{
    
                & > a{
                    padding: 0 10px;
                    color: $gold;
    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
    
            & ul{
                position: fixed;
                display: flex;
                margin: 0;
                transform-origin: center;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
                -webkit-transform-origin: 50%  52%;
                font-weight: 400;
                top: 50px;
                left: 0px;
                
                & li{
                    
                    & a{
                        color: #fff;
                        display: block;
                        line-height: 61px;
                        padding: 10px 0;
                    }
                }
            }
        }

        & .nav-actions{

            padding-right: 20px;

            & a{

                display: inline-block;

                &.search-trigger{
                    color: $gold;
                    line-height: 52px;
                    font-size: 21px;
                    padding: 0 10px;
                }
            }

            & .profile-menu{

                margin: 0;
                display: inline-block;
        
                & > li{
                    
                    position: relative;
                    padding: 0 10px;
                    
                    & i{
                        line-height: 54px;
                        color: $gold;
                        font-size: 21px;
                        line-height: 52px;
                    }
        
                    & span{
                        display: inline-block;
                    }
        
                    & .profile-menu-inner{
                        position: absolute;
                        top: calc(100% - 20px);
                        right: 0;
                        opacity: 0;
                        transition: opacity .2s, top .2s;
                        pointer-events: none;
                        background: #fff;
                        z-index: 6;
                        box-shadow: 0 2px 6px rgba(black, .4);
                        border-radius: 4px;
                        overflow: hidden;

                        & li{
                            
                            & a{
                                line-height: 40px;
                                padding: 0 20px;

                                display: block;

                                &:hover{
                                    background: #f3f3f3;
                                }
                            }
                        }
                    }
                }

                &:hover .profile-menu-inner{
                    top: 100%;
                    opacity: 1;
                    pointer-events: all;
                }
            }

            @media(max-width: $mobile-edge){
                display: none;
            }
        }
    }
}

body{
    padding-left: 62px;

    @media(max-width: $mobile-edge){
        padding-left: 0;
    }
}
